// Login page styles.
//

.login-page {

    .main-content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 40rem;
      margin: auto;
    }

    .login-form-wrapper {
        margin: auto;
        border: 3px solid #eee;
        border-radius: 6px;
        padding: 1.75rem 2rem 2rem;
    }

    .login-form {
        width: 25rem;
    }
}
